<div ng-controller="templateEdit" class="template-edit md-inline-form" ng-cloak flex layout="row">
    <md-content flex="30" class="detial-wrap" layout-padding>
        <div layout="row">
            <md-input-container class="md-block" flex>
                <label>模板名称</label>
                <input ng-model="template.name">
            </md-input-container>
        </div>
        <div layout="row">
            <md-input-container class="md-block" flex>
                <label>模板应用类型</label>
                <md-select ng-model="template.type">
                    <md-option ng-repeat="x in allTemplateTypes" value="{{x.code}}">
                        {{x.desc}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container class="md-block" flex>
                <label>发布状态</label>
                <md-select ng-model="template.status">
                    <md-option ng-repeat="x in allTemplateStatuses" value="{{x.code}}">
                        {{x.desc}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
        <div layout="row">
            <md-button class="md-raised md-primary" flex="50" ng-click="saveTemplate()">保存</md-button>
            <md-button class="md-raised md-default" flex="50" ng-click="resetEditTemplate()">重置</md-button>
        </div>
    </md-content>
    <md-content layout-padding flex class="md-content">
        <div class="module-container-wrap" ng-repeat="x in template.module">
            <div class="module-container">
                <div class="del-icon glyphicon glyphicon-remove" ng-click="deleteModule($index)"></div>
                <module edit-content="editContent" is-in-template module-index="{{$index}}" module-layout="x" class="{{x.mergeNext?'merge':''}} {{x.isHide?'module-hide':''}}">
                </module>
                <div class="reorder-container">
                    <span class="glyphicon glyphicon-chevron-up reoder-btn up" ng-click="moveModule($index,true)"></span>
                    <span class="glyphicon glyphicon-chevron-down reoder-btn down" ng-click="moveModule($index)"></span>
                </div>
                <md-switch class="md-primary show-hide-switch " md-no-ink aria-label="显示隐藏" ng-true-value="true" ng-false-value="false" ng-model="x.isHide">
                    {{x.isHide?'隐藏':'显示'}}
                </md-switch>
                <span class="mergenext-container {{x.mergeNext?'icon-compress':'icon-expand'}} {{x.isHide?'hide':''}}" ng-click="changeMergeNext(x)"></span>
            </div>
        </div>
        <!-- </div> -->
        <div class="add-btn" ng-click="toggleModuleConfigWin()"></div>
    </md-content>
    <md-sidenav md-component-id="right" md-whiteframe="8" class="md-sidenav-right module-add-sidebar">
        <module ng-repeat="x in allModules" module-layout="x" ng-click="selectModule(x)" module-index="{{$index}}"></module>
    </md-sidenav>
    <md-sidenav md-component-id="left" md-whiteframe="8" class="md-sidenav-left content-add-sidebar">
        <form>
            <div layout="row">
                <md-input-container class="md-block" flex>
                    <label>内容类型</label>
                    <md-select ng-model="currentEditContent.contentType">
                        <md-option ng-repeat="x in allContentTypes" value="{{x.code}}">
                            {{x.desc}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block" flex>
                    <label>是否可点击</label>
                    <md-select ng-model="currentEditContent.isDisable">
                        <md-option ng-repeat="x in disableChoices" value="{{x.value}}">
                            {{x.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container class="md-block" flex>
                    <label>是否有推送红点</label>
                    <md-select ng-model="currentEditContent.isPop">
                        <md-option ng-repeat="x in popChoices" value="{{x.value}}">
                            {{x.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block" flex>
                    <label>是否无框</label>
                    <md-select ng-model="currentEditContent.noBorder">
                        <md-option ng-repeat="x in borderChoices" value="{{x.value}}">
                            {{x.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container class="md-block" flex>
                    <label>禁止点击提示语</label>
                    <input ng-model="currentEditContent.disableAlert">
                </md-input-container>
            </div>
            <div layout="row" ng-if="currentEditContent.contentType==CONSTANTS.CONTENT_TYPE.COMMON">
                <md-input-container class="md-block" flex>
                    <label>链接</label>
                    <input ng-model="currentEditContent.contentLink[0]">
                </md-input-container>
            </div>
            <div layout="row" ng-if="currentEditContent.contentType==CONSTANTS.CONTENT_TYPE.COMMON">
                <md-uploader flex value="currentEditContent.contentImage[0]"></md-uploader>
            </div>
            <div layout="row" ng-if="currentEditContent.contentType==CONSTANTS.CONTENT_TYPE.COMMON">
                <md-img bg="{{true}}" flex path="currentEditContent.contentImage[0]" img-class="banner-image"></md-img>
            </div>
            <div layout="row" ng-if="currentEditContent.contentType==CONSTANTS.CONTENT_TYPE.BANNER">
                <md-button flex="50" class="md-primary md-raised" ng-click="addBannerElement()">添加轮播图参数
                </md-button>
            </div>
            <div ng-repeat="x in currentEditContent.contentImage track by $index" layout="row" ng-if="currentEditContent.contentType==CONSTANTS.CONTENT_TYPE.BANNER&&$index%2==0">
                <div flex="50" ng-if="currentEditContent.contentImage[$index]" class="banner-image-wrap">
                    <md-img bg="{{true}}" ng-click="editBannerElement($index)" path="currentEditContent.contentImage[$index]" img-class="banner-image"></md-img>
                    <div class="del-banner-icon glyphicon glyphicon-remove" ng-click="deleteCurrentEditContent($index)"></div>
                </div>
                <div flex="50" ng-if="currentEditContent.contentImage[$index+1]" class="banner-image-wrap">
                    <md-img bg="{{true}}" ng-click="editBannerElement($index+1)" path="currentEditContent.contentImage[$index+1]" img-class="banner-image"></md-img>
                    <div class="del-banner-icon glyphicon glyphicon-remove" ng-click="deleteCurrentEditContent($index+1)"></div>
                </div>
            </div>
            <div layout="row">
                <md-button flex class="md-primary md-raised" ng-click="confirmEditContent()">修改</md-button>
                <md-button flex class="md-default md-raised" ng-click="cancelEditContent()">取消</md-button>
            </div>
        </form>
    </md-sidenav>
    <script type="text/ng-template" instance="bannerContentElementPanel" title="轮播图" panel>
        <form class="template-edit indialog">
            <div layout="row">
                <md-input-container class="md-block" flex>
                    <label>链接</label>
                    <input ng-model="bannerContent.link">
                </md-input-container>
            </div>
            <div layout="row">
                <md-uploader flex value="bannerContent.image"></md-uploader>
            </div>
            <div layout="row" class="img-wrap">
                <md-img flex path="bannerContent.image" img-class="uploaded-image"></md-img>
            </div>
            <div layout="row">
                <md-button flex class="md-primary md-raised" ng-click="confirmBannerContent()">确认</md-button>
            </div>
        </form>
    </script>
</div>