@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url('../fonts/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2') format('woff2');
}

@import './bourbon';
@import '../css/bootstrap';
@import '../css/ng-table';
//@import '../css/fileinput';
@import '../../node_modules/angular-ui-tree/dist/angular-ui-tree.min';
@import './global';
@import './common/angular-material';
@import './common/main';
@import './common/responsetable';
@import './common/icon';
@import './common/usertable';

/*@import './common/them';*/

@import '../css/isteven-multi-select';

/*ui-tree*/

@import './uiTree/ui-tree';

/*directive*/

@import './directive/ngtable';
@import './directive/leftCompanySearcher';
@import './directive/sidebar';
@import './directive/topSearcher';
@import './directive/shelfSelector';
@import './directive/dropDown';
@import './directive/uploader';
@import './directive/login';
@import './directive/msStepper';
@import './directive/dialog';
@import './directive/sortButton';
@import './directive/count';
@import './directive/module';
@import './directive/mdUploader';

/*home*/

@import './home/home';

/*company*/

@import './company/company';

/*shelfManage*/

@import './shelfmanage/shelfManage';

/*order*/

@import './order/order';

/*pickOrder*/

@import './pickOrder/pickOrder';
@import './pickOrder/deliveryEdit';
@import './pickOrder/pickReferTemplate';

/*goodsChooseOrder*/

@import './goodsChooseOrder/goodsChooseOrder';
@import './goodsChooseOrder/goodsChooseHistory';

/*shelf*/

@import './shelf/shelves-patrol';
@import './shelf/shelf-company';

/*account*/

@import "./account/account";
@import "./account/pickRolePanel";

/*information*/

@import "./information/information";

/*welfare*/

@import './welfare/welfare';
@font-face {
    font-family: 'iconfont';
    src: url("../fonts/icomoon.eot");
    src: url("../fonts/icomoon.eot") format("embedded-opentype"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}


/*product*/

@import './product/product.scss';

/*deadStock*/

@import './deadStock/deadStock.scss';
@import './product/newProductRecommend.scss';

/*inStorage*/

@import './inStorage/inStorage.scss';

/*labelsManagement*/

@import './labelsManagement/labelsManagement.scss';

/*positionManage*/

@import './positionManage/positionManage.scss';

/*finance*/

@import './finance/finance.scss';

/*configurationInformation*/

@import './configurationInformation/configurationInformation.scss';

/*holidayWelfare*/

@import './holidayWelfare/holidayWelfare.scss';

/*tea*/

@import './teaInformation/teaInformation.scss';

/*issueDynamic*/

@import './suite/issueDynamic.scss';

/*suiteDistributionDynamic*/

@import './suite/suiteDistributionDynamic.scss';

/*suiteCfgMange*/

@import './suite/suiteCfgManage.scss';

/*CommentsManage*/

@import './suite/commentsManage.scss';

/*promotionProduct*/

@import './promotion/promotionProduct.scss';
@import './promotion/promotionSuite.scss';
@import './promotion/promotionOrder.scss';

/*
!*ui-grid.min.css*!
@import '../css/ui-grid.min.css';*/


/*template*/

@import './template/template.scss';
@import './template/templateEdit.scss';
@import './dataStatistics/salesStatistics';