<div class="modal-issue-dynamic" >
    <div class="modal-header" style="border-bottom: 0;">
        <button type="button" style="width: 50px;height: 20px;position: absolute;right: 10px;z-index: 1000000"
                class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel" style="text-align: center;">小二回复:XXXXXXXX</h4>
    </div>
    <div style="width: 100%;text-align: center;">
        <!--<textarea rows="3" cols="20"></textarea>-->
        <textarea type="text"
                  autocomplete="off"
                  class="form-control"
                  placeholder="多行输入......"
                  ng-model="comments.reply"
        ></textarea>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="determineReply(comments)"><span>确定</span></button>
        <button type="button" class="btn btn-primary" ng-click="cancelReply()"><span>取消</span></button>
    </div>
</div>
