.goods-choose-order{
	.header-wrap{
		padding:15px;
		.time-select-title{
			margin-left: 64px;
		}
		.right-wrap {
            float: right;
        }
	}
	.modal-record-reason {
        textarea {
            width: 100%;
            height: 100px;
        }
    }
}