.template {
    height: 100%;
    &>md-content {
        /*padding: 24px;*/
        overflow-y: scroll;
        .content {
            padding: 24px;
            min-height: 650px;
        }
    }
    .template-table {
        margin-top: 10px;
        text-align: center;
        td {
            vertical-align: middle;
        }
    }
}
