.md-uploader {
    position: relative;
    .file {
        display: none;
    }
    .file-hash {}
    .uploader-icon {
        position: absolute;
        right: 0;
        top: 18px;
        display: inline-block;
        width: 30px;
        height: 24px;
        z-index: 1000;
        cursor: pointer;
    }
    md-input-container {
        position: relative;
    }
}
