.btn-sort {
    border: none;
    background-color: $white-color;
    &>span {
        float: left;
        line-height: 24px;
    }
    &>.icon-sort {
        float: right;
        img:nth-child(1) {
            display: block;
            width: 16px;
        }
        img:nth-child(2) {
            display: block;
            width: 16px;
            margin-top: -8px;
        }
    }
}