<div class="dialog" role="dialog" layout="column" layout-align="center center">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{title}}</h2><span ng-click="closeDialog()" class="glyphicon glyphicon-remove"></span>
        </div>
    </md-toolbar>
    <md-content class="dialog-content">
    </md-content>
<!--     <div layout="row" class="demo-dialog-button">
        <md-button md-autofocus flex class="md-primary" ng-click="closeDialog(this)">
            关闭
        </md-button>
    </div> -->
</div>
