<div class="sidebar {{isFolded?'folded':''}}">
    <div class="sidebar-header">
        <div class="logo">
            <span class="{{isLogin?'icon-exit':'icon-login'}} loginicon" ng-click="handleLoginBtnClick(isLogin)"></span>
            <!--  <span class="logo-image">TUDA</span> -->
        </div>
        <div class="icon-backburger fold-toggle" ng-click="fold()"></div>
    </div>
    <span class="version">{{version}}</span>
    <div class="port-wrap">
        <ul>
            <li ng-repeat="p in ports" class="sidebar-btn {{p.active?'active':''}} {{p.parent?'parent':''}}" ng-click="active({indexs:[$index]},$event)">
                <a ng-if="!p.parent" class="port {{'icon-'+p.icon}}" href="#{{p.route}}">
                    <span>{{p.name}}</span>
                </a>
                <div class="parent-title port {{'icon-'+p.icon}}" ng-if="p.parent" ng-click="activeParent({indexs:[$index]},$event)">
                    <span>{{p.name}}</span><i class="icon-arrow"></i>
                </div>
                <ul ng-if="p.parent&&p.active" class="children-list"> 
                    <li ng-repeat="c in p.children " class="sub-sidebar-btn  {{c.active?'active':''}} {{c.parent?parent:''}}" ng-click="active({indexs:[$parent.$index,$index]},$event)">
                        <a ng-if="!c.parent" href="#{{c.route}}">
                            <span>{{c.name}}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
