.promotionEdit{
	overflow:hidden;
		.left{
			width:240px;
			float: left;
			height:385px;
			.search{
				padding:6px 12px;
				margin-left: 30px;
			}
			input{
				width: 155px;
				float: left;
			}
			.list{
				height: 300px;
				overflow-y: auto;
				border: 1px solid #ededed;
				margin-top: 20px;
				min-height: 200px;
				li{
					list-style: none;
					a{
						display: block;
						font-size: 16px;
						line-height: 35px;
						height: 35px;
						overflow: hidden;
						white-space: nowrap;
						text-overflow: ellipsis;
						border: 1px solid #ededed;
						text-decoration: none;
						color:#555;
						text-align: center;

					}
					a:hover{color: inherit;}
					a.active{
						background-color: #337ab7;
                        border-color: #337ab7; 
                        color: #fff;
					}
				}
			}
		}
		.middle{
			height:385px;
			width:110px ;
			float: left;
			padding-top: 100px;
			margin:0px 30px;
			a{
				display:block;
				border-radius: 5px;
				font-size: 15px;
				width: 100px;
				text-align: center;
				line-height: 25px;
				margin-bottom: 25px;
				border:1px solid #ededed;
				text-decoration: none;
				color:#555;
				font-weight: bold;
			}
			a:hover{color: #555;}

		}
		.right{
			height:385px;
			width:400px ;
			float: left;
			.title{
				overflow: hidden;
				padding: 30px 0 10px;
				font-size: 16px;
				position: relative;
				div{
					position: absolute;
					right: 3px;
					input{
						width:80px;
						height: 20px;
						float: right;
					}
				}
			}
			.list{
				height: 300px;
				overflow-y: auto;
				border: 1px solid #ededed;
				margin-top: 10px;
				min-height: 200px;
				li{
					list-style: none;
					a{
						display: block;
						font-size: 16px;
						line-height: 45px;
						height: 45px;
						overflow: hidden;
						white-space: nowrap;
						text-overflow: ellipsis;
						text-decoration: none;
						color:#555;
						position: relative;
						padding-left: 10px;

					}
					a:hover{color: inherit;}
					a.active{
						background-color: #337ab7;
                        border-color: #337ab7; 
                        color: #fff;
					}
				}
				.count{position: absolute;
                  right:10px;
                  top: 7px;
				}
			}

		}
		.time{clear: both;
         padding-top: 15px;
         padding-bottom: 10px;
		}
}
.modal-plg{width: 850px;}