<table id="export-product-table" style="border: 1px solid #ddd;width: 100%;max-width: 100%;margin-bottom: 20px;background-color: transparent;border-spacing:0;border-collapse: collapse;font-size
        :14px;line-height: 1.42857143;">
    <thead>
        <tr>
            <th style="padding: 8px;border: 1px solid #ddd;">序号</th>
            <th style="padding: 8px;border: 1px solid #ddd;">商品编号</th>
            <th style="padding: 8px;border: 1px solid #ddd;">仓位</th>
            <th style="padding: 8px;border: 1px solid #ddd;">商品名称</th>
            <th style="padding: 8px;border: 1px solid #ddd;">商品重量</th>
            <th style="padding: 8px;border: 1px solid #ddd;">计量单位</th>
            <th style="padding: 8px;border: 1px solid #ddd;">售价</th>
            <th style="padding: 8px;border: 1px solid #ddd;">保质期</th>
            <th style="padding: 8px;border: 1px solid #ddd;">利润等级</th>
            <th style="padding: 8px;border: 1px solid #ddd;">销量</th>
            <th style="padding: 8px;border: 1px solid #ddd;">库存</th>
            <th style="padding: 8px;border: 1px solid #ddd;">可用库存</th>
            <th style="padding: 8px;border: 1px solid #ddd;">一级品类</th>
            <th style="padding: 8px;border: 1px solid #ddd;">二级品类</th>
            </th>
            <th style="padding: 8px;border: 1px solid #ddd;" ng-repeat="labelType in labelList">
                {{labelType.type}}
            </th>
            <th style="padding: 8px;border: 1px solid #ddd;">状态</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="pro in selectedProductList">
            <td style="padding: 8px;border: 1px solid #ddd;text-align: left;">{{$index+1}}</td>
            <td style="padding: 8px;border: 1px solid #ddd;text-align: left;">{{pro.skuCode}}</td>
            <td  style="padding: 8px;border: 1px solid #ddd;text-align: left;"><span ng-repeat="v in pro.positions">{{v.name}}</br></span></td>
            <td style="padding: 8px;border: 1px solid #ddd;text-align: left;">{{pro.productName}}</td>
            <td style="padding: 8px;border: 1px solid #ddd;text-align: left;">{{pro.net}}</td>
            <td style="padding: 8px;border: 1px solid #ddd;text-align: left;">{{pro.netUnit}}</td>
            <td style="padding: 8px;border: 1px solid #ddd;text-align: left;">{{pro.price/100}}</td>
            <td style="padding: 8px;border: 1px solid #ddd;text-align: left;">{{pro.expiryDate}}</td>
            <td style="padding: 8px;border: 1px solid #ddd;text-align: left;">{{CONSTANTS.PROFIT_LEVEL.DESC[pro.profitLevel]}}</td>
            <td style="padding: 8px;border: 1px solid #ddd;text-align: left;">{{pro.sales}}</td>
            <td style="padding: 8px;border: 1px solid #ddd;text-align: left;">{{pro.stock}}</td>
            <td style="padding: 8px;border: 1px solid #ddd;text-align: left;">{{pro.availStock}}</td>
            <td style="padding: 8px;border: 1px solid #ddd;text-align: left;">{{pro.category.categoryName||'-'}}</td>
            <td style="padding: 8px;border: 1px solid #ddd;text-align: left;">{{pro.subCategoryName||'-'}}</td>
            <td style="padding: 8px;border: 1px solid #ddd;text-align: left;" ng-repeat="labelName in pro.labelNames track by $index">
                {{labelName.length?labelName:'-'}}
            </td>
            <td style="padding: 8px;border: 1px solid #ddd;text-align: left;">{{pro.productTagsPrefix}}</td>
        </tr>
    </tbody>
</table>
