<div ng-controller="deliveryEditCtrl" class="delivery-edit">
    <div class="right-wrap">
        <div class="right-header-wrap">
            <span>{{company.companyName}}</span>
            <drop-down ng-if="!shelfSelectDisable" default-item={{shelfConfig.getDefaultItem(pickOrder.shelfId)}} list={{shelfConfig.list}} desc-field="shelfName" select="shelfConfig.selectItem(item)" btn-style="btn-default"></drop-down>
            <span ng-if="shelfSelectDisable">{{pickOrder.shelfName}}</span>
            <span>拣货类型:{{company.pickingType==CONSTANTS.PICKING_TYPE.OTHER?company.pickingRemark:CONSTANTS.PICKING_TYPE.DESC[company.pickingType]}}</span>
            <div class="operate-buttons">
                <button class="btn btn-default btn-put-sale" ng-disabled="disableEdit" ng-click="putSale()">新品上架</button>
                <button class="btn btn-default btn-supplement" ng-disabled="disableEdit" ng-click="supplement()">补货</button>
                <!-- <button class="btn btn-default btn-pull-sale" ng-disabled="disableEdit" ng-click="pullSale()">建议下架</button> -->
            </div>
        </div>
        <div class="right-main-wrap">
            <div ng-if="pickOrder.orderState==CONSTANTS.DELIVERY_STATE.RETURN_INIT" class="opt-record">退回原因:{{pickOrder.logs[pickOrder.logs.length-1].optRecord}}</div>
            <div class="first-line">
                <div class="left-wrap">
                    <div class="delivery-urgency">
                        <span>紧急度</span>
                        <drop-down default-item={{urgencyConfig.getDefaultItem(pickOrder.urgent)}} list={{urgencyConfig.getList()}} select="urgencyConfig.selectItem(item)" btn-style="btn-default"></drop-down>
                    </div>
                    <!-- 请选择需关联的心愿套餐 -->
                    <div class="suite-select">
                        <div class="control-select" isteven-multi-select input-model="suiteList" output-model="selectedSuiteList" button-label="suiteTitle" item-label="suiteTitle" tick-property="selected" translation="localLang" max-height="200px" search-property="suiteTitle" min-search-length="1">
                        </div>
                        <button class="btn btn-default" ng-disabled="disableEdit" ng-click="relateSuites()">确定关联</button>
                    </div>
                </div>
                <div class="pick-refer">
                    <button class="btn btn-link" ng-disabled="!hasReferData" ng-click="openPickRefer(REFER_OPEN_MODE.manual)">拣货数据参考页</button>
                </div>
            </div>
            <div class="total-fee">
                总价: {{(pickOrder.orderFee>0?pickOrder.orderFee:0)/100.0}}元
            </div>
            <table class="table table-bordered table-delivery-goods">
                <thead>
                    <th>编号</th>
                    <th>仓位</th>
                    <th>商品编号</th>
                    <th>商品名称</th>
                    <th>上架原因</th>
                    <th>商品重量</th>
                    <th>销售单价(元)</th>
                    <th>数量</th>
                    <th>可用库存</th>
                    <th>最近10日拣货均值</th>
                    <th>删除</th>
                </thead>
                <tbody ng-if="isShowWrap(PRODUCT_FROM_TYPE.FROM_NEW)">
                    <tr>
                        <th colspan="10">商品上架</th>
                    </tr>
                    <tr ng-repeat="product in selectedListConfig.getList(PRODUCT_FROM_TYPE.FROM_NEW) track by $index">
                        <td>{{$index+1}}</td>
                        <td><span ng-repeat="v in product.positions">{{v.name}}</br></span></td>
                        <td>{{product.skuCode}}</td>
                        <td><span class="black-mark" ng-if="product.black">(黑名单)</span>{{product.productName}}</td>
                        <td class="on-reason">
                            <img ng-repeat="reason in product.reasons" src="{{PICK_PRODUCT_REASON.ICON[reason]}}" />
                        </td>
                        <td>{{product.net}}</td>
                        <td>{{product.price/100.0}}元</td>
                        <td>
                            <input class="form-control" onkeyup="value=value.replace(/[^\d]/g,'')" ng-model="product.itemNum">
                        </td>
                        <td>{{product.availStock}}</td>
                        <td>{{product.latestDeliveryCountAvgs}}</td>
                        <td>
                            <button class="btn btn-danger btn-sm" tabindex="-1" ng-click="removePutSaleProduct(product)"><span class="glyphicon glyphicon-trash"></span></button>
                        </td>
                    </tr>
                </tbody>
                <tbody ng-if="isShowWrap(PRODUCT_FROM_TYPE.FROM_SHELF)">
                    <tr>
                        <th colspan="10">补货</th>
                    </tr>
                    <tr ng-repeat="product in selectedListConfig.getList(PRODUCT_FROM_TYPE.FROM_SHELF) track by $index">
                        <td>{{$index+1}}</td>
                        <td><span ng-repeat="v in product.positions">{{v.name}}</br></span></td>
                        <td>{{product.skuCode}}</td>
                        <td><span class="black-mark" ng-if="product.black">(黑名单)</span>{{product.productName}}</td>
                        <td class="on-reason"><img ng-repeat="reason in product.reasons" src="{{PICK_PRODUCT_REASON.ICON[reason]}}" />
                        </td>
                        <td>{{product.net}}</td>
                        <td>{{product.price/100.0}}元</td>
                        <td>
                            <input class="form-control" onkeyup="value=value.replace(/[^\d]/g,'')" ng-model="product.itemNum">
                        </td>
                        <td>{{product.availStock}}</td>
                        <td>{{product.latestDeliveryCountAvgs}}</td>
                        <td>
                            <button class="btn btn-danger btn-sm" tabindex="-1" ng-click="removeSupplementProduct(product)"><span class="glyphicon glyphicon-trash"></span></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="advice-out-products">
                <h5>建议下架</h5>
                <div>
                    <span ng-repeat="product in selectedListConfig.getAdviceOutList() track by $index">{{product.productName+','}}</span>
                </div>
            </div>
            <div class="pick-categories">
                <h5>拣货品类</h5>
                <div>
                    <span ng-repeat="categoryName in selectedListConfig.getCategorieNames()">{{categoryName+','}}</span>
                </div>
            </div>
            <div class="operate-buttons">
                <div class="left-buttons">
                    <button class="btn btn-default btn-cleardata" tabindex="-1" ng-disabled="disableEdit" ng-click="cleardata()">清空数据</button>
                    <button ng-if="orderId>0" class="btn btn-default btn-excelexport" ng-disabled="disableEdit" tabindex="-1" ng-click="exportExcel()">导出Excel</button>
                </div>
                <button class="btn btn-warning btn-save" tabindex="-1" ng-disabled="disableEdit" ng-click="saveDelivery(false)">仅保存</button>
                <button class="btn btn-success btn-send-warehouse" tabindex="-1" ng-disabled="disableEdit" ng-click="sendWarehouse()">发送给仓库</button>
            </div>
        </div>
    </div>
    <div id="exportDeliveryExcelWrap" class="hidden"></div>
    <!--新品上架 商品Modal-->
    <script type="text/ng-template" id="modalProductList">
        <div class="modal-newproducts">
            <div class="modal-header">
                <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">新品上架</h4>
            </div>
            <div class="modal-body form-inline">
                <div class="header-wrap">
                    <input type="text" class="form-control input-products-search" placeholder="根据商品名称查询" ng-keypress="keyPressSearchProduct($event,queryParams)" ng-model="queryParams.productName">
                    <button class="btn btn-primary btn-search" ng-click="searchProduct(queryParams)">查询</button>
                </div>
                <table ng-table="newProdcutsTable" class="table table-bordered table-mini">
                    <thead>
                        <th>选择</th>
                        <th>商品编号</th>
                        <th>仓位</th>
                        <th>商品名称</th>
                        <th>商品重量</th>
                        <th>计量单位</th>
                        <th>售价</th>
                        <th>保质期</th>
                        <th>
                            <drop-down select="selectCategoryCallback(item)" default-desc="全部品类" btn-style="btn-link" list={{cateotyList}}></drop-down>
                        </th>
                        <th>
                            <drop-down select="selectProfitCallback(item)" default-desc="全部利润等级" btn-style="btn-link" list={{profitList}}></drop-down>
                        </th>
                        <th>总销量</th>
                        <th>可用库存</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="product in $data">
                            <td>
                                <input type="checkbox" ng-model=(product.select) ng-change="chkboxChange(product)">
                            </td>
                            <td>{{product.skuCode}}</td>
                            <td><span ng-repeat="v in product.positions">{{v.name}}</br></span></td>
                            <td>{{product.productName}}</td>
                            <td>{{product.net}}</td>
                            <td>{{product.netUnit}}</td>
                            <td>{{product.price/100.0}}元</td>
                            <td>{{product.expiryDate}}</td>
                            <td>{{product.categoryName}}</td>
                            <td>{{CONSTANTS.PROFIT_LEVEL.DESC[product.profitLevel]}}</td>
                            <td>{{product.sales}}</td>
                            <td>{{product.availStock}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="cancel()">取消</button>
                <button type="button" class="btn btn-primary" ng-click="confirmPutSale()">确定</button>
            </div>
        </div>
    </script>
    <!--补货 商品Modal-->
    <script type="text/ng-template" id="modalShelfProductListForSupplement">
        <div class="modal-shelf-products">
            <div class="modal-header">
                <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">补货</h4>
            </div>
            <div class="modal-body form-inline">
                <ul>
                    <li ng-repeat="shelfProduct in shelfProductList  track by $index">
                        <input type="checkbox" tabindex="-1" ng-true-value="true" ng-false-value="false" ng-model="shelfProduct.tmpSelect" ng-change="selectOnChckbox(shelfProduct)">
                        <img src="{{picUrl+shelfProduct.cover+ '!small'}}" />
                        <div class="product-info">
                            <div class="product-name">{{shelfProduct.productName}}</div>
                            <div class="net">{{shelfProduct.net}}/{{shelfProduct.netUnit}}</div>
                            <div class="price">￥{{shelfProduct.price / 100.0}}</div>
                        </div>
                        <div class="stock">可用库存:{{shelfProduct.availStock}} 货架库存/盒规数:{{shelfProduct.shelfStock+'/'+shelfProduct.maxStock}}</div>
                        <div class="itemnum-sales">
                            <input class="form-control" ng-keyup="selectOnInputNum(shelfProduct)" onkeyup="value=value.replace(/[^\d]/g,'')" ng-model="shelfProduct.itemNum" placeholder="补货数量">
                            <div>最近{{shelfProduct.shelfAvgSale.days}}日日均销量:{{shelfProduct.shelfAvgSale.avg_sales}}</div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="cancel()">取消</button>
                <button type="button" class="btn btn-primary" ng-click="supplementConfirm()">确定</button>
            </div>
        </div>
    </script>
    <!--建议下架 商品Modal-->
    <script type="text/ng-template" id="modalShelfProductListForPullSale">
        <div class="modal-shelf-products">
            <div class="modal-header">
                <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">建议下架</h4>
            </div>
            <div class="modal-body form-inline">
                <ul>
                    <li ng-repeat="(productId,shelfProduct) in shelfProductsObj">
                        <input type="checkbox" ng-true-value="true" ng-false-value="false" ng-model="shelfProduct.pullSaleSelect">
                        <img src="{{picUrl+shelfProduct.cover+ '!small'}}" />
                        <div class="product-info">
                            <div class="product-name">{{shelfProduct.productName}}</div>
                            <div class="net">{{shelfProduct.net}}/{{shelfProduct.netUnit}}</div>
                            <div class="price">￥{{shelfProduct.price / 100.0}}</div>
                        </div>
                        <div class="stock">货架库存/盒规数:{{shelfProduct.shelfStock+'/'+shelfProduct.maxStock}}</div>
                        <div class="sales">
                            <div>最近{{shelfProduct.avgSaleDays}}日日均销量:{{shelfProduct.avgSale}}</div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="cancel()">取消</button>
                <button type="button" class="btn btn-primary" ng-click="pullSaleConfirm()">确定</button>
            </div>
        </div>
    </script>
</div>