<div ng-controller="promotionSuiteCtrl" class="promotion-suite container-fluid">
    <div class="header-view">
        <div class="input-group col-md-5">
            <input type="text" class="form-control input-suite-search" placeholder="根据名称查询" ng-model="queryParams.des" ng-keyup="suiteSearchKeyup($event)" />
            <div class="input-group-btn">
                <button class="btn btn-default  dropdown-toggle " ng-click="suiteSearch()">查询</button>
            </div>
        </div>
        <button class="btn btn-default btn-addsuite" data-toggle="modal" ng-click="suiteEditWin()">新建营销组合
        </button>
    </div>
    <table ng-table="tableParams" class="table table-condensed table-bordered table-hover ngtable  account-table table-mini" show-filter="true">
        <thead>
            <th>序号</th>
            <th>组合名称</th>
            <th>组合商品</th>
            <th>
                <drop-down list={{payTypeFilter.getList()}} default-item={{payTypeFilter.getList()[0]}} prevent-auto-selected=true desc-field="name" btn-style="btn-link" select="payTypeFilter.selectItem(item)">
                </drop-down>
            </th>
            <th>操作</th>
        </thead>
        <tr ng-repeat="suite in $data">
            <td>{{suite.index+1}}</td>
            <td>{{suite.title}}</td>
            <td>{{suite.productNamesStr}}</td>
            <td>{{PROMOTION_PAY_TYPE.DESC[suite.payType]}}</td>
            <td>
                <button class="btn btn-link btn-sm" ng-click="suiteEditWin(suite.id)">编辑
                </button>
                &nbsp;&nbsp;&nbsp;
                <button class="btn btn-link btn-sm" ng-click="deleteSuite(suite.id)">删除
                </button>
                &nbsp;&nbsp;&nbsp;
                <button class="btn btn-link btn-sm" ng-click="getLink(suite.id)">H5链接
                </button>
            </td>
        </tr>
    </table>
    <!-- 营销组合编辑 -->
    <script type="text/ng-template" id="suiteEdit">
        <div class="suite-edit-modal">
            <div class="modal-header">
                <button type="button" style="position: absolute;top: 5px;right: 8px;color: red;" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">编辑/新建营销组合</h4>
            </div>
            <form name="suiteForm" ng-submit="suiteSave(suite)">
                <div class="modal-body form-inline">
                    <div class="col-md-12">
                        <label>组合名称:</label>
                        <input type="text" class="form-control input-title" placeholder="微信分享显示/组合列表页标题" ng-model="suite.title" required/>
                    </div>
                    <div class="col-md-12">
                        <label>组合描述:</label>
                        <textarea class="form-control" cols="80" rows="3" placeholder="微信转发显示" ng-model="suite.des" required></textarea>
                    </div>
                    <div class="uploader-wrap">
                        <img src="{{suite.banner?picUrl+suite.banner:'../img/noimage.png'}}" />
                        <div class="right-wrap">
                            <span class="warn-tip">*微信转发ICON 最佳尺寸 256*256 不超过16k</span>
                            <uploader index="2" value="suite.banner" ng-model="suite.banner" upload-title="上传图片" hide-input="true" did-upload="didUploadImg(file)" size-limit="{{imgSizeLimit}}">
                            </uploader>
                        </div>
                    </div>
                    <div class="product-select-wrap">
                        <div>
                            <h5>商品列表</h5>
                            <div class="list-group">
                                <a ng-repeat="product in products" class="{{'list-group-item '+(product.isSelect? 'active': '')}}" ng-click="selectProduct(product,1)"><span class="color-blue">{{getPayTypePrefix(product)}}</span>{{product.title}}</a>
                            </div>
                        </div>
                        <div class="operate-buttons">
                            <button type="button" class="btn btn-default" ng-click="modifySelectedProduct('add')">添加商品>>
                            </button>
                            <button type="button" class="btn btn-default" ng-click="modifySelectedProduct('remove')">
                                <<移除商品 </button>
                        </div>
                        <div>
                            <h5>已选商品</h5>
                            <div class="list-group">
                                <a ng-repeat="product in suite.selectedProducts" class="{{'list-group-item '+(product.isSelect? 'active': '')}}" ng-click="selectProduct(product,2)"><span class="color-blue">{{getPayTypePrefix(product)}}</span>{{product.title}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" ng-click="cancel();">取消</button>
                        <button type="submit" class="btn btn-primary">确定</button>
                    </div>
                </div>
            </form>
        </div>
    </script>
    <!-- H5链接 -->
    <script type="text/ng-template" id="linkShow">
        <div class="link-modal">
            <div class="modal-header">
                <button type="button" style="position: absolute;top: 5px;right: 8px;color: red;" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">H5链接</h4>
            </div>
            <div class="modal-body form-inline">
                <div class="wechat-link">
                    <div>微信分享链接:</div>
                    <div>{{wechatLink}}</div>
                </div>
                <div class="internal-link">
                    <div>内部链接:</div>
                    <div>{{internalLink}}</div>
                </div>
            </div>
        </div>
    </script>
</div>