.table-mini {
    font-size: 12px;
    &>thead {
        tr {
            th {
                padding: 4px;
            }
        }
    }
    &>tbody {
        tr {
            td {
                vertical-align: middle;
                padding: 4px;
                span,
                a {
                    vertical-align: middle;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }
}
