.holiday-welfare{
    .header-view{
        .holiday-welfare-title{
            text-align: center;
        }
        .query{
            padding: 34px 15px 15px 0;
            .input-starttime,
            .input-endtime{
                float: left;
                width: 200px;
            }
            .separator{
                float: left;
                padding: 5px;
            }
            .btn-search{
                float: left;
                margin-left: 15px;
            }
            .btn-wrap{
                .search-btn{
                    margin-left: 15px;
                }
            }
        }
    }
    .table-holiday{
        text-align: center;
    }
    .modal-holiday-orde{
        .holidayOrderTable{
            width: 800px;
            height: 800px;
        }
    }
    .chk_1{
        //text-align: center;
        display: none;
    }
}