<div ng-controller="finance" class="finance order container-fluid order-center table-responsive-vertical">
    <div class="row header-view">
        <div class="col-md-5 query-company">
            <input type="text" ng-model="queryFinanceConfig.companyName" class="form-control input-company-search" placeholder="根据企业名称查询" />
        </div>
        <div class=" col-md-7">
            <div class="col-md-4">
                <!--<date-picker time-stamp="queryFinanceConfig.financeStartTime"></date-picker>-->
                <input type="date" class="form-control" placeholder="开始时间" ng-model="queryFinanceConfig.financeStartTime" />
            </div>
            <div class="col-md-4">
                <input type="date" class="form-control" placeholder="结束时间" ng-model="queryFinanceConfig.financeEndTime" />
            </div>
            <div class="input-group-btn col-md-4">
                <drop-down btn-style="btn btn-default dropdown-toggle querytype-btn" list={{queryFinanceConfig.choices}} default-item="{{queryFinanceConfig.choices[0]}}" ng-model="queryFinanceConfig.isUpdateTime" select="queryFinanceConfig.selectIsUpadate(item)">
                </drop-down>
                <button class="btn  btn-default dropdown-toggle search-btn" ng-click="queryFinanceList()">查询</button>
            </div>
        </div>
        <button class="btn btn-default export-excel" ng-click="batchExportExcel(x)"><span class="">导出Excel</span>
        </button>
    </div>
    <!--<div class="one-table">-->
    <table ng-table-dynamic="financeTable with financeHeads" class="table table-striped table-bordered  table-mini table-responsive-vertical finance-table">
        <thead>
            <th>序号</th>
            <th>
                <input type="checkbox" ng-model="checkAllCfg.flag" id="checkbox_all" class="chk_1" ng-click="selectAllOrder($event,$data)" />
                <label for="checkbox_all"></label>
            </th>
            <th>生成时间</th>
            <th>更新时间</th>
            <th>公司名称</th>
            <th>公司应付款（元）</th>
            <th>实际到账(元)</th>
            <th>结算人</th>
            <th>
                <drop-down list={{orderStateList}} desc-field='desc' prevent-auto-selected="true" default-item={{orderStateList[0]}} btn-style="btn-link" select="selectOrderState(item)"></drop-down>
            </th>
            <th>
                <drop-down list={{invoiceNeedStateList}} desc-field='desc' prevent-auto-selected="true" default-item={{invoiceNeedStateList[0]}} btn-style="btn-link" select="selectInvoiceNeedState(item)"></drop-down>
            </th>
            <th>
                <drop-down list={{invoiceStateList}} desc-field='desc' prevent-auto-selected="true" default-item={{invoiceStateList[0]}} btn-style="btn-link" select="selectInvoiceState(item)"></drop-down>
            </th>
            <th>操作</th>
        </thead>
        <tbody>
            <tr ng-repeat="x in $data" ng-init="index = $index">
                <!--<td>
                <input type="checkbox" ng-model="x.selected" />
            </td>-->
                <td>{{x.index}}</td>
                <td>
                    <input type="checkbox" ng-model="x.checked" id="{{'checkbox_'+x.orderId}}" class="chk_1" ng-click="updateSelection($event,x)" />
                    <label for="{{'checkbox_'+x.orderId}}"></label>
                </td>
                <td>{{x.createTime|date:'yyyy.MM.dd HH:mm:ss'}}</td>
                <td>{{x.updateTime|date:'yyyy.MM.dd HH:mm:ss'}}</td>
                <td>{{x.companyName}}</td>
                <td>{{x.orderFee|rmb}}</td>
                <td>{{x.receiveFee|rmb}}</td>
                <td>{{x.creatorName}}</td>
                <td>{{x.orderState|desc:'SETTLEMENT_STATE'}}</td>
                <td>{{x.isInvoice|desc:'INVOICE_NEED_STATE'}}</td>
                <td>{{x.invoiceNum||'-'}}</td>
                <td>
                    <button class="btn btn-default btn-sm" ng-click="openFinanceDetail(x)"><span class="glyphicon glyphicon-list-alt"></span></button>
                    &nbsp&nbsp&nbsp
                    <button class="btn btn-default btn-sm" ng-click="exportExcel(x)"><span class="glyphicon glyphicon-save"></span></button>
                </td>
            </tr>
            <!--         <tr ng-repeat="x in $data" ng-init="index = $index">
            <td ng-repeat="y in $columns" data-title="{{y.title()}}" ng-class="{{x[y.field].cls}}" compile-html="y.getValue&&y.getValue(x[y.field],x,index,this,y)||x[y.field]">
            </td>
        </tr> -->
            <tfoot ng-if="!finances.length">
                <td colspan="100%">
                    <h5 class="no-data">无数据</h5>
                </td>
            </tfoot>
        </tbody>
    </table>
    <!--</div>-->
    <!--第二个表格，用于做冻结首行，下拉效果-->
    <!--<div class="two-table">
        <table ng-table-dynamic="financeTable with financeHeads"
               class="table table-striped table-bordered  table-mini table-responsive-vertical finance-table-two">
            <thead>
            <tr>
                <th>序号</th>
                <th>
                    <input type="checkbox" ng-model="checkAllCfg.flag" id="checkbox_all" class="chk_1"
                           ng-click="selectAllOrder($event,$data)"/>
                    <label for="checkbox_all"></label>
                </th>
                <th>生成时间</th>
                <th>更新时间</th>
                <th>公司名称</th>
                <th>公司应付款（元）</th>
                <th>实际到账(元)</th>
                <th>结算人</th>
                <th>
                    <drop-down list={{orderStateList}} desc-field='desc' prevent-auto-selected="true"
                               default-item={{orderStateList[0]}} btn-style="btn-link"
                               select="selectOrderState(item)"></drop-down>
                </th>
                <th>
                    <drop-down list={{invoiceNeedStateList}} desc-field='desc' prevent-auto-selected="true"
                               default-item={{invoiceNeedStateList[0]}} btn-style="btn-link"
                               select="selectInvoiceNeedState(item)"></drop-down>
                </th>
                <th>
                    <drop-down list={{invoiceStateList}} desc-field='desc' prevent-auto-selected="true"
                               default-item={{invoiceStateList[0]}} btn-style="btn-link"
                               select="selectInvoiceState(item)"></drop-down>
                </th>
                <th>操作</th>
            </tr>
            </thead>
            <tr ng-repeat="x in $data" ng-init="index = $index">
                &lt;!&ndash;<td>
                    <input type="checkbox" ng-model="x.selected" />
                </td>&ndash;&gt;
                <td>{{x.index}}</td>
                <td>
                    <input type="checkbox" ng-model="x.checked" id="{{'checkbox_'+x.orderId}}" class="chk_1"
                           ng-click="updateSelection($event,x)"/>
                    <label for="{{'checkbox_'+x.orderId}}"></label>
                </td>
                <td>{{x.createTime|date:'yyyy.MM.dd HH:mm:ss'}}</td>
                <td>{{x.updateTime|date:'yyyy.MM.dd HH:mm:ss'}}</td>
                <td>{{x.companyName}}</td>
                <td>{{x.orderFee|rmb}}</td>
                <td>{{x.receiveFee|rmb}}</td>
                <td>{{x.creatorName}}</td>
                <td>{{x.orderState|desc:'SETTLEMENT_STATE'}}</td>
                <td>{{x.isInvoice|desc:'INVOICE_NEED_STATE'}}</td>
                <td>{{x.invoiceNum||'-'}}</td>
                <td>
                    <button class="btn btn-default btn-sm" ng-click="openFinanceDetail(x)"><span
                            class="glyphicon glyphicon-list-alt"></span></button>
                    &nbsp&nbsp&nbsp
                    <button class="btn btn-default btn-sm" ng-click="exportExcel(x)"><span
                            class="glyphicon glyphicon-save"></span></button>
                </td>
            </tr>
            &lt;!&ndash;         <tr ng-repeat="x in $data" ng-init="index = $index">
                <td ng-repeat="y in $columns" data-title="{{y.title()}}" ng-class="{{x[y.field].cls}}" compile-html="y.getValue&&y.getValue(x[y.field],x,index,this,y)||x[y.field]">
                </td>
            </tr> &ndash;&gt;
            <tfoot ng-if="!finances.length">
            <td colspan="100%">
                <h5 class="no-data">无数据</h5>
            </td>
            </tfoot>
        </table>
    </div>-->
    <!--打印表格 &ndash;&gt; 隐藏状态-->
    <table class="table table-striped table-bordered  table-mini table-responsive-vertical finance-table hidden" style="border: 1px solid #ddd;width: 100%;max-width: 100%;margin-bottom: 20px;background-color: transparent;border-spacing:0;border-collapse: collapse;font-size
        :14px;line-height: 1.42857143; text-align: center;" id="finance-table">
        <thead>
            <th>序号</th>
            <th>生成时间</th>
            <th>更新时间</th>
            <th>公司名称</th>
            <th>公司应付款（元）</th>
            <th>实际到账(元)</th>
            <th>结算人</th>
            <th>付款状态</th>
            <th>开票需求</th>
            <th>票号</th>
        </thead>
        <tr ng-repeat="x in selectedOrders" ng-init="index = $index">
            <td>{{$index+1}}</td>
            <td>{{x.createTime|date:'yyyy.MM.dd HH:mm:ss'}}</td>
            <td>{{x.updateTime|date:'yyyy.MM.dd HH:mm:ss'}}</td>
            <td>{{x.companyName}}</td>
            <td>{{x.orderFee|rmb}}</td>
            <td>{{x.actualPrice|rmb}}</td>
            <td>{{x.creatorName}}</td>
            <td>{{x.orderState|desc:'SETTLEMENT_STATE'}}</td>
            <td>{{x.isInvoice|desc:'INVOICE_NEED_STATE'}}</td>
            <td>{{x.invoiceNum||'-'}}</td>
        </tr>
        <tfoot ng-if="!finances.length">
            <td colspan="100%">
                <h5 class="no-data">无数据</h5>
            </td>
        </tfoot>
    </table>
    <script title="确认收款" type="text/ng-template" panel instance="confirmPaymentDialog">
        <form name="confirmPaymentForm" novalidate class="finance-payment-form">
            <div class="row">
                <div class="form-group col-sm-6 ">
                    <label>企业应付款</label>
                    <input type="text" name="dueFee" disabled="true" ng-model="confirmPaymentParam.dueFee" class="form-control" />
                </div>
                <div class="form-group col-sm-6">
                    <label>企业坏账抵扣额</label>
                    <input type="text" name="badDebtFee" ng-model="confirmPaymentParam.badDebtFee" disabled="true" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6 {{confirmPaymentForm.receiveFee.$invalid&&confirmPaymentForm.receiveFee.$dirty?'has-error':''}}">
                    <label>实际到账</label>
                    <input type="text" name="receiveFee" ng-required="true" ng-model="confirmPaymentParam.receiveFee" placeholder="请输数字" class="form-control" ng-pattern="/^\d+(\.\d{1,2})?$/" uib-tooltip="请输数字" tooltip-placement="top" tooltip-enable="confirmPaymentForm.receiveFee.$invalid" />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label>到账时间</label>
                    <date-picker time-stamp="confirmPaymentParam.receiveFeeTime"></date-picker>
                </div>
                <div class="form-group col-md-6">
                    <div uib-timepicker ng-model="confirmPaymentParam.receiveFeeTimeHour" ng-change="changed()" hour-step="1" minute-step="15" show-meridian="false"></div>
                </div>
            </div>
        </form>
        <div layout="row" class="demo-dialog-button" style="margin-top:230px">
            <md-button md-autofocus flex class="md-raised md-primary " ng-disabled="confirmPaymentForm.$invalid" ng-click="confirmPayment()">
                确定
            </md-button>
        </div>
    </script>
    <script title="开票信息" type="text/ng-template" panel instance="invoiceDialog">
        <form name="invoiceForm" novalidate class="finance-invoice-form">
            <div class="row">
                <div class="form-group col-sm-6 {{invoiceForm.invoiceNumber.$invalid&&invoiceForm.invoiceNumber.$dirty?'has-error':''}}">
                    <label>发票号码</label>
                    <input type="text" name="invoiceNumber" ng-required="true" ng-pattern="/^\d+(\.\d{1,2})?$/" placeholder="请输数字" uib-tooltip="请输数字" tooltip-placement="top" ng-model="invoiceParam.invoiceNumber" class="form-control" tooltip-enable="invoiceForm.invoiceNumber.$invalid" />
                </div>
                <div class="form-group col-sm-6 {{invoiceForm.invoiceFee.$invalid&&invoiceForm.invoiceFee.$dirty?'has-error':''}}">
                    <label>开票金额</label>
                    <input type="text" name="invoiceFee" ng-required="true" ng-pattern="/^\d+(\.\d{1,2})?$/" placeholder="请输数字" uib-tooltip="请输数字" tooltip-placement="top" ng-model="invoiceParam.invoiceFee" class="form-control" tooltip-enable="invoiceForm.invoiceFee.$invalid" />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <label>快递公司</label>
                    <drop-down btn-style="btn btn-default dropdown-toggle querytype-btn" list={{expressCompanyChoice}} default-item="{{expressCompanyChoice[0]}}" select="selectExpressCompany(item)">
                    </drop-down>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6 {{invoiceForm.expressNumber.$invalid&&invoiceForm.expressNumber.$dirty?'has-error':''}}">
                    <label>快递单号</label>
                    <input type="text" name="expressNumber" ng-required="invoiceParam.needExpressNumber" ng-pattern="/^\d+(\.\d{1,2})?$/" placeholder="请输数字" uib-tooltip="请输数字" ng-model="invoiceParam.expressNumber" class="form-control" tooltip-enable="invoiceForm.expressNumber.$invalid">
                </div>
            </div>
        </form>
        <div layout="row" class="demo-dialog-button">
            <md-button md-autofocus flex class="md-raised md-primary " ng-disabled="invoiceForm.$invalid" ng-click="createInvoice()">
                确定
            </md-button>
        </div>
    </script>
    <div id="exportExcelWrap" class="hidden"></div>
</div>